{% extends "_layouts/site-base-checkout.twig" %}

{# import macros #}
{% import '_macros/_utils'   as m_utils %}

{% block titleTag %}
	<title>{{ globalVars.pageTitleBase }} Site Offline!</title>
{% endblock titleTag %}

{% block content %}
{% endblock content %}
