{% extends "_layouts/site-base-checkout.twig" %}

{# import macros #}
{% import '_macros/_intros'  as m_intros %}
{% import '_macros/_user' as m_user %}
{% import '_macros/_utils' as m_utils %}

{% block titleTag %}
	<title>{{ globalVars.pageTitleBase }} Account</title>
{% endblock titleTag %}

{% block content %}

    <section row>
        <div class="UserForm MemberLogin" style="display: none; min-height: 600px">
            <h1 class="jsLoginTitle">Member Login</h1>
            <div class="UserForm-block jsLoginGuestxxx">
                <p>New to Demaggs? <a href="{{ url('register') }}">Create an account</a>.</p>
                {% include "_partials/loginform.twig" %}
            </div>
        </div>
    </section>

{% endblock content %}

{% block pageJs %}
    <script>
    $(document).ready(function () {
        $('.jsErrorMsg').text('');
        $('.MemberLogin').fadeIn(1500);
    });
    {{ m_utils.setProgress('s0', 'Account', 'false') }}
    </script>
{% endblock pageJs %}

