{% extends "_layouts/site-base-page.twig" %}
{% set cart = craft.commerce.carts.cart %}

{# import macros #}
{% import '_macros/_intros'  as m_intros %}
{% import '_macros/_user' as m_user %}

{% block titleTag %}
	<title>{{ globalVars.pageTitleBase }} Login</title>
{% endblock titleTag %}

{% block pageintro %}
	{{ m_intros.showIntro('account') }}
{% endblock pageintro %}

{% block content %}

    <section row>
        <h1 class="userLoginTitle">Member Login</h1>
        <div class="UserLogin">
            <div class="UserLogin-guest">
                <h3>Create Account</h3>
                <p>Already a member? <a href="#" id="gotoLogin" data-newtitle="Member Login">Please login.</a>.</p>
                {{ m_user.regForm() }}
            </div>
            <div class="UserLogin-login">
                <h3>Member Login</h3>
                <p>New to Demaggs? Please <a href="#" id="gotoNewAccount" data-newtitle="Member Registration">become a member.</a>.</p>
                {{ m_user.loginForm('/menu2') }}
            </div>
        </div>
    </section>


{% endblock content %}
