{% if currentUser %}
    {% redirect "/checkout/details" %} 
{% endif %}

{% extends "_layouts/site-base-checkout.twig" %}
{% set cart = craft.commerce.carts.cart %}

{# import macros #}
{% import '_macros/_srcset'  as m_srcset %}
{% import '_macros/_intros'  as m_intros %}
{% import '_macros/_textpic' as m_textpic %}
{% import '_macros/_user'    as m_user %}
{% import '_macros/_utils'   as m_utils %}

{% block titleTag %}
	<title>{{ globalVars.pageTitleBase }} Checkout</title>
{% endblock titleTag %}

{% block content %}
    <section row>
       <div class="UserForm CheckoutLogin">
            <h1 class="jsLoginTitle">Guest Checkout</h1>
            <div class="jsLoginMember UserForm-block">
                <p>Not a member? <a href="#" id="gotoGuestCheckout" data-newtitle="Guest Checkout">Please use Guest Checkout</a>.</p>
                {{ m_user.loginForm("checkout/details") }}
            </div>

            <div class="jsLoginGuest UserForm-block">
                <p>Already a member? <a href="#" id="gotoMemberCheckout" data-newtitle="Member Checkout">Please use Member Checkout</a>.</p>
                {{ m_user.guestCheckoutForm(cart, "checkout/details") }}
            </div>
        </div>
     </section>
{% endblock content %}

{% block pageJs %}
    {{ m_utils.setProgress('s2', 'Checkout') }}
{% endblock pageJs %}


