{% if currentUser %}
    {% redirect "/checkout/order" %} 
{% endif %}

{% extends "_layouts/site-base-page.twig" %}
{% set cart = craft.commerce.carts.cart %}

{# import macros #}
{% import '_macros/_srcset'  as m_srcset %}
{% import '_macros/_intros'  as m_intros %}
{% import '_macros/_textpic' as m_textpic %}
{% import '_macros/_user'    as m_user %}

{% block titleTag %}
	<title>{{ globalVars.pageTitleBase }} Checkout</title>
{% endblock titleTag %}

{% block pageintro %}
	{{ m_intros.showIntro('checkout') }}
{% endblock pageintro %}

{% block content %}
    <section row>
        <h1 class="userLoginTitle">Member Checkout</h1>
        <div class="UserLogin">
            <div class="UserLogin-login">
                <h3>Member Checkout</h3>
                <p>Not a member? <a href="#" id="gotoGuestCheckout" data-newtitle="Guest Checkout">Please use Guest Checkout</a>.</p>
                {{ m_user.loginForm() }}
            </div>

            <div class="UserLogin-guest">
                <h3>Guest Checkout</h3>
                <p>Already a member? <a href="#" id="gotoMemberCheckout" data-newtitle="Member Checkout">Please use Member Checkout</a>.</p>
                {{ m_user.guestCheckoutForm(cart) }}

            </div>
        </div>
    </section>
{% endblock content %}
