/****************************************
 Core Global Styles
*****************************************/

/*
 * set box-sizing to use border-box by default
 */
html {
	box-sizing: border-box;
}

/*
 * provide smooth scrolling to #hash links
 */
html {
	scroll-behavior: smooth;
}


*,
*:before,
*:after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
	display: block;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

